<h1>Crear</h1>

<form action="http://localhost:3000/usuarios/crear">
    <label for="nombre_archivo">Nombre Archivo</label>
    <input type="text" name="nombre_archivo">
    <br>

    <label for="contenido_archivo">Contenido archivo</label>
    <textarea 
    name="contenido_archivo" 
    id="contenido_archivo" 
    cols="30" 
    rows="10"></textarea>

    <button>Crear</button>
</form>
