<h1>Eliminar</h1>

{{!-- /usuarios/renombrar --}}
<form action="http://localhost:3000/usuarios/eliminar">
    <label for="nombre_archivo">Nombre Archivo</label>
    <input type="text" name="nombre_archivo">
    <br>
    <button>Eliminar</button>
</form>