<h1>Leer</h1>

{{!-- /usuarios/leer --}}
<form action="http://localhost:3000/usuarios/leer">
    <label for="nombre_archivo">Nombre Archivo</label>
    <input type="text" name="nombre_archivo">
    <br>
    <button>Leer Archivo</button>
</form>