<h1>Renombrar</h1>

{{!-- /usuarios/renombrar --}}
<form action="http://localhost:3000/usuarios/renombrar">
    <label for="nombre_antiguo">Nombre Antiguo</label>
    <input type="text" name="nombre_antiguo">
    <br>
    <label for="nombre_nuevo">Nombre Nuevo</label>
    <input type="text" name="nombre_nuevo">
    <button>Renombrar</button>
</form>